h1, h2, h3 {
  font-weight: normal;
  color: #00FF00;
}
a, a > code {
  color: #00FF00;
}
.remark-code-line-highlighted { background-color: rgba(136, 57, 138, 0.3); }

.inverse {
  background-color: #562457;
}
.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}
